In [2]:
import pandas as pd

1) –ò–º–µ—é—Ç—Å—è —Å–ª–µ–¥—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ –æ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö –≤ –ø–µ—Ä–∏–æ–¥ —Å 01.12.2010 –ø–æ 12.09.2011: 
- InvoiceNo ‚Äì –Ω–æ–º–µ—Ä —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ 
- StockCode ‚Äì –∫–æ–¥ —Ç–æ–≤–∞—Ä–∞ Description ‚Äì –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞ 
- Quantity ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, –¥–æ–±–∞–≤–ª–µ–Ω–Ω—ã—Ö –≤ –∑–∞–∫–∞–∑ 
- InvoiceDate ‚Äì –¥–∞—Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ 
- UnitPrice ‚Äì —Ü–µ–Ω–∞ –∑–∞ –µ–¥–∏–Ω–∏—Ü—É —Ç–æ–≤–∞—Ä–∞ 
- CustomerID ‚Äì id –∫–ª–∏–µ–Ω—Ç–∞ 
- Country ‚Äì —Å—Ç—Ä–∞–Ω–∞, –≥–¥–µ –ø—Ä–æ–∂–∏–≤–∞–µ—Ç –∫–ª–∏–µ–Ω—Ç 

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ data.csv.zip (–≤ –ø–∞–ø–∫–µ) —Å –∫–æ–¥–∏—Ä–æ–≤–∫–æ–π ISO-8859-1. –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ retail, –∞ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é retail_columns.

In [21]:
retail=pd.read_csv(r'C:\Users\\data.csv', encoding='ISO-8859-1')

In [22]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

2) –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –Ω–∞–±–ª—é–¥–µ–Ω–∏—è, –∏ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ. –ï—Å–ª–∏ –æ–Ω–∏ –µ—Å—Ç—å, —Ç–æ —É–¥–∞–ª–∏—Ç–µ –∏—Ö –∏–∑ retail.

3) ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è –î–∞–Ω–Ω—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –≤ —Å–µ–±–µ –∑–∞–ø–∏—Å–∏ –∫–∞–∫ –∏ –æ–± —É—Å–ø–µ—à–Ω—ã—Ö —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö, —Ç–∞–∫ –∏ –æ–± –æ—Ç–º–µ–Ω–µ–Ω–Ω—ã—Ö. –ï—Å–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –æ—Ç–º–µ–Ω–∏–ª –∑–∞–∫–∞–∑, –≤ –Ω–∞—á–∞–ª–µ –Ω–æ–º–µ—Ä–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo) —Å—Ç–∞–≤–∏—Ç—Å—è C (canceled). –°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –∑–∞–∫–∞–∑–æ–≤ –æ—Ç–º–µ–Ω–∏–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏?

In [26]:
retail.InvoiceNo.str.startswith('C').sum()

9288

4) –¢–µ–ø–µ—Ä—å –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ retail —Ç–æ–ª—å–∫–æ —Ç–µ –∑–∞–∫–∞–∑—ã, –≥–¥–µ Quantity > 0. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —á–∏—Å–ª–æ –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è —Å—Ç—Ä–æ–∫.

In [28]:
retail[retail.Quantity>0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

5) üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –∑–∞–∫–∞–∑–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (CustomerID) –∏–∑ –ì–µ—Ä–º–∞–Ω–∏–∏ (Germany). –û—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ª—å–∫–æ —Ç–µ—Ö, –∫—Ç–æ —Å–æ–≤–µ—Ä—à–∏–ª –±–æ–ª–µ–µ N —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π (InvoiceNo), –≥–¥–µ N ‚Äì 80% –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å. –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ germany_top (–Ω–µ –≤–µ—Å—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º, —Ç–æ–ª—å–∫–æ id). –ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞ ‚Äì InvoiceNo. –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–∫–∞–∑–∞ –≤ –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–µ—Ç –≤—Å—Ç—Ä–µ—á–∞—Ç—å—Å—è –±–æ–ª–µ–µ 1 —Å—Ç—Ä–æ–∫–∏.

In [40]:
retail_germany=retail.query('Country=="Germany"')\
        .groupby('CustomerID',as_index=False)\
        .agg({'InvoiceNo':pd.Series.nunique})

In [41]:
per_80=retail_germany.InvoiceNo.quantile(q=0.8)

In [45]:
germany_top=retail.query('Country=="Germany"')\
        .groupby('CustomerID',as_index=False)\
        .agg({'InvoiceNo':pd.Series.nunique})\
        .query('InvoiceNo>@per_80')\
        .CustomerID
retail_germany_per80

3     12471.0
4     12472.0
6     12474.0
8     12476.0
12    12481.0
16    12500.0
37    12569.0
44    12600.0
52    12619.0
53    12621.0
57    12626.0
65    12647.0
70    12662.0
78    12705.0
79    12708.0
80    12709.0
82    12712.0
84    12720.0
Name: CustomerID, dtype: float64

6) ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è –ò—Å–ø–æ–ª—å–∑—É—è –æ–±—ä–µ–∫—Ç —Å id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (germany_top), –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –Ω–∞ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —à–∞–≥–µ, –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –Ω–∞–±–ª—é–¥–µ–Ω–∏—è –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ –¥–∞–Ω–Ω—ã—Ö –∑–∞–ø–∏—Å–∏ —Ç–æ–ª—å–∫–æ –ø–æ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏–º –Ω–∞—Å —é–∑–µ—Ä–∞–º. –†–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∑–∞–ø–∏—à–∏—Ç–µ –≤ top_retail_germany.

In [46]:
top_retail_germany=retail[retail.CustomerID.isin(germany_top)]

In [49]:
top_retail_germany=retail.query('CustomerID in @germany_top')#–∏–ª–∏ —Ç–∞–∫

7) –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ top_retail_germany –ø–æ –∫–æ–¥—É —Ç–æ–≤–∞—Ä–∞ (StockCode). –ö–∞–∫–æ–π –∏–∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –¥–æ–±–∞–≤–ª—è–ª–∏ –≤ –∫–æ—Ä–∑–∏–Ω—É —á–∞—â–µ –≤—Å–µ–≥–æ, –∫—Ä–æ–º–µ POST? Note: –æ–¥–Ω–∏–º –∑–∞–∫–∞–∑–æ–º —Å—á–∏—Ç–∞–µ—Ç—Å—è –µ–¥–∏–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–∞—è –ø–æ–∫—É–ø–∫–∞ –ª—é–±–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ç–æ–≤–∞—Ä–∞, —Ç.–µ. –±–µ–∑ —É—á–µ—Ç–∞ Quantity.

In [52]:
top_retail_germany.groupby('StockCode')\
                    .agg({'InvoiceNo':'count'})\
                    .sort_values("InvoiceNo",ascending=False)

#StockCode.value_counts()

           InvoiceNo
StockCode
POST             219
22326             63
22423             55
22328             45
22467             37
...              ...
23008              1
22999              1
20717              1
22119              1
22821              1

[1168 rows x 1 columns]

8) –í–µ—Ä–Ω–µ–º—Å—è –∫ –∞–Ω–∞–ª–∏–∑—É –ø–æ–ª–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ retail. –°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É Revenue —Å —Å—É–º–º–æ–π –ø–æ–∫—É–ø–∫–∏, –∏—Å–ø–æ–ª—å–∑—É—è –∫–æ–ª–æ–Ω–∫–∏ Quantity –∏ UnitPrice.

In [55]:
retail['Revenue']=retail.Quantity*retail.UnitPrice
#retail=retail.assign(Revenue=retail.Quantity*retail.UnitPrice)

9) –î–ª—è –∫–∞–∂–¥–æ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo), –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Å—É–º–º—É –∑–∞–∫–∞–∑–∞. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —Ç–æ–ø-5 (InvoiceNo) –ø–æ —Å—É–º–º–µ –∑–∞–∫–∞–∑–∞ (—á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é —Å –ø—Ä–æ–±–µ–ª–æ–º –∏ –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è TotalRevenue)

–ù–∞–ø—Ä–∏–º–µ—Ä, –¥–ª—è —Å–ª–µ–¥—É—é—â–µ–≥–æ –ø—Ä–∏–º–µ—Ä–∞...

InvoiceNo StockCode Quantity InvoiceDate UnitPrice CustomerID Revenue 536365 85123A 6 2010-12-01 08:26:00 2.55 17850.0 15.30 536365 71053 6 2010-12-01 08:26:00 3.39 17850.0 20.34 555555 71053 1 2010-12-02 18:00:00 3.39 17850.0 3.39 ...—Å—É–º–º–∞ –∑–∞–∫–∞–∑–∞ –±—É–¥–µ—Ç —Ä–∞–≤–Ω–∞:

InvoiceNo TotalRevenue 536365 35.64 555555 3.39

–ò –æ—Ç–≤–µ—Ç–æ–º –±—É–¥–µ—Ç: 536365, 55555

In [59]:
sorted_revenues=retail.groupby('InvoiceNo',as_index=False)\
        .agg({'Revenue':'sum'})\
        .sort_values('Revenue',ascending=False)\
        .head(5)

In [61]:
sorted_revenues.InvoiceNo.str.cat(sep=", ")#–≤—ã–∑—ã–≤–∞–µ—Ç—Å—è —Å—Ç—Ä–æ–∫–æ–≤—ã–π –º–µ—Ç–æ–¥-–∫–æ–Ω–∫–∞—Ç–µ–Ω–∞—Ü–∏—è –∏ –≤ —Å–∫–æ–±–∫–∞—Ö —É–∫–∞–∑—ã–≤–∞–µ—Ç—Å—è —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª—å

'581483, 541431, 574941, 576365, 556444'